title Gits Manager
link(href="/css/bootstrap.min.css",rel='stylesheet')
link(href="/css/bootstrap-toggle.min.css",rel='stylesheet')
script(src="/js/jquery.js")
script(src="/js/bootstrap.min.js")
script(src="/js/bootstrap-toggle.min.js")
script(src="/js/axios.js")